{% extends 'main/Base/Base.html' %}

{% block main %}
        <section class="roadmap" id="roadmap">
            <div class="container">
                <div class="section-header">
                    <span class="section-subtitle" data-i18n="roadmap.subtitle">{{request.site.about_above_tag}}</span>
                    <h1 class="section-title" data-i18n="roadmap.title">{{request.site.about_title}}</h1>

                </div>
                <div class="roadmap-timeline">
                    <div class="roadmap-line"></div>

                    {% for item in timeline %}
                    <div class="roadmap-step {% cycle 'right' 'left' %} ">
                        <div class="step-marker">{{forloop.counter}}</div>
                        <div class="step-card">
                            <div class="step-icon-wrap">
                                {{ item.svq|safe }}

                            </div>
                            <h2 data-i18n="roadmap.step1.title">
                                {{item.name}}
                            </h2>
                            <p data-i18n="roadmap.step1.desc">
                                {{item.description}}
                            </p>

                        </div>
                    </div>
                    {% endfor %}


                </div>
                <br>
                <br>
                <div class="post-content">

                    {{request.site.description|safe}}

                </div>
                <br>
                <br>
                <div class="container">
                    <div class="testimonials-grid">
                        {% for item in testimonials %}
                        <div class="testimonial-card">
                            <p data-i18n="testimonials.1.text">{{item.text}}</p>
                            <div class="testimonial-author">
                                <img src="{{item.image.url}}" alt="{{item.name}}">
                                <div>
                                    <strong data-i18n="testimonials.1.name">{{item.name}}</strong>
                                    <span data-i18n="testimonials.1.role">{{item.behave}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

{% endblock %}