 {% extends "main/Base/Base.html" %}

{% block main %}
        <section class="faq" id="faq">
            <div class="container">
                <div class="section-header">
                    <span class="section-subtitle" data-i18n="faq.subtitle">{{site.faq_above_tag}}</span>
                    <h1 class="section-title" data-i18n="faq.title">{{site.faq_title}}</h1>
                    <p class="contact-desc" data-i18n="contact.desc">{{site.faq_description}}</p>

                </div>
                <div class="faq-list">

                    {% for item in items %}
                    <div class="faq-item">
                        <button class="faq-question">
                            <span data-i18n="faq.q{{item.id}}">{{item.question}}</span>
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </button>
                        <div data-i18n="faq.a{{item.id}}" class="faq-answer">
                            {{item.answer|safe}}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
{% endblock %}